:root {
  --dark: #212121;
  --charcoal: #757575;
  --blue: #2196F3;
  --white: #fff;
  --black: #000;
  --bgdark: #2F303A;
  --bgwhite: #F5F4FA;
  --grey: rgba(255, 255, 255, 0.6);
  --hoverblue: #188CE8;
  --borderline: #ECECEC;
  --imgborderline: #EEEEEE;
  --sociallinkcolor: #AFB1B8;
  --animation: 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--dark);
  background-color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.subheader {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  color: var(--blue);
}

.logo__header {
  color: var(--black);
}

.logo__footer {
  color: var(--white);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.modal-backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.modal-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
}

.modal-window__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.modal-window__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: fill var(--animation);
}
.modal-window__close-button:hover, .modal-window__close-button:focus {
  fill: var(--blue);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__label {
  margin-bottom: 10px;
}

.modal-form__title {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--charcoal);
  margin-bottom: 4px;
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
}

.modal-form__field {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--animation);
}
.modal-form__field:focus {
  outline: none;
  border-color: var(--blue);
}
.modal-form__field:focus + .modal-form__icon {
  fill: var(--blue);
}

.modal-form__icon {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  margin-left: 12px;
  transition: fill var(--animation);
}

.modal-form__textarea-label {
  margin-bottom: 20px;
}

.modal-form__message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: outline var(--animation), border-color var(--animation);
}
.modal-form__message:focus {
  outline: none;
  border-color: var(--blue);
}
.modal-form__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__check-field {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--charcoal);
  margin-bottom: 30px;
}

.modal-form__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal-form__checkbox:checked + .modal-form__own-checkbox {
  background-color: var(--blue);
  border: 2px solid var(--blue);
}
.modal-form__checkbox:checked + .modal-form__own-checkbox .modal-form__own-checkbox-icon {
  display: block;
}
.modal-form__checkbox:focus + .modal-form__own-checkbox {
  box-shadow: 0 0 0 1px var(--blue);
}

.modal-form__own-checkbox {
  border: 2px solid var(--dark);
  border-radius: 2px;
  height: 15px;
  width: 16px;
  cursor: pointer;
  margin-right: 9px;
}

.modal-form__own-checkbox-icon {
  display: none;
  fill: var(--white);
}

.user-policy-link {
  text-decoration-line: underline;
  color: var(--blue);
}

.modal-form__submit-button {
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--animation), box-shadow var(--animation);
}
.modal-form__submit-button:hover, .modal-form__submit-button:focus {
  background-color: var(--hoverblue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--bgwhite);
  padding: 8px 22px;
  height: 38px;
  border-style: none;
  border-radius: 4px;
  font-family: inherit;
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
}
.filters__button:hover, .filters__button:focus {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__button.active {
  background-color: var(--blue);
  color: var(--white);
  padding: 8px 25px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__item:not(:last-child) {
  margin-right: 9px;
}

.page-header {
  border-bottom: 1px solid var(--borderline);
  padding: 24px 0;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navigation__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.navigation__link {
  color: var(--dark);
  transition: color var(--animation);
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--blue);
}

.contacts {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--charcoal);
  transition: color var(--animation);
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--blue);
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: var(--blue);
}

.contacts__icon {
  fill: var(--charcoal);
  margin-right: 10px;
  transition: fill var(--animation);
}

.current {
  color: var(--blue);
  position: relative;
}
.current::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue);
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero {
  background-color: var(--bgdark);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  padding: 200px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--blue);
  color: var(--white);
  border-style: none;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  transition: background-color var(--animation), box-shadow var(--animation);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hoverblue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features {
  display: flex;
  justify-content: space-between;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: var(--bgwhite);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 270px;
}

.features__paragraph {
  font-size: 14px;
  line-height: 1.71;
  color: var(--charcoal);
  width: 270px;
}

.activities {
  padding-top: 0px;
  padding-bottom: 94px;
}

.activities__list {
  display: flex;
  justify-content: space-between;
}

.activities__container {
  position: relative;
}

.activities__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
}

.activities__about {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.team {
  background-color: var(--bgwhite);
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__member {
  width: 270px;
  height: 428px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__text {
  padding: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--charcoal);
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white);
  fill: var(--sociallinkcolor);
  transition: background-color var(--animation), fill var(--animation);
}
.social__link:hover, .social__link:focus {
  background-color: var(--blue);
  fill: var(--white);
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--sociallinkcolor);
  border-radius: 4px;
  fill: var(--sociallinkcolor);
  transition: fill var(--animation), border var(--animation);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--blue);
  cursor: pointer;
  fill: var(--blue);
}

.clients__item:hover .clients__link, .clients__item:focus .clients__link {
  fill: var(--blue);
}

.page-footer {
  background-color: var(--bgdark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.contact-info__item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-info__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--white);
  transition: color var(--animation);
}
.contact-info__address:hover, .contact-info__address:focus {
  color: var(--blue);
}

.contact-info__contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}
.contact-info__contacts:hover, .contact-info__contacts:focus {
  color: var(--blue);
}

.footer-subheader {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.footer-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white);
  transition: background-color var(--animation);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--blue);
}

.footer-subscribe__field {
  position: relative;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bgdark);
  color: var(--white);
  padding-left: 16px;
  margin-right: 12px;
  border-color: rgba(255, 255, 255, 0.3);
}
.footer-subscribe__field:focus {
  outline: none;
  border-color: var(--blue);
}

.footer-subscribe__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color var(--animation), box-shadow var(--animation);
}
.footer-subscribe__button:hover, .footer-subscribe__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--hoverblue);
}

.footer-subscribe__icon {
  fill: var(--white);
  margin-left: 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.products__item {
  display: block;
  transition: box-shadow var(--animation);
}
.products__item:hover, .products__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products__image {
  position: relative;
  overflow: hidden;
}
.products__image:hover .products__overlay, .products__image:focus .products__overlay {
  transform: translateY(0%);
}

.products__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--animation);
}

.products__description {
  border: 1px solid var(--imgborderline);
  padding: 20px 24px;
}

.products__description-header {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark);
  margin-bottom: 4px;
}

.products__description-text {
  font-size: 16px;
  line-height: 30px;
  color: var(--charcoal);
}/*# sourceMappingURL=main.css.map */