.features {
    display: flex;
    justify-content: space-between;
}

.features__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: var(--bgwhite);
    border-radius: 4px;
    margin-bottom: 30px;
}

.features__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 270px;
}

.features__paragraph {
    font-size: 14px;
    line-height: 1.71;
    color: var(--charcoal);
    width: 270px;
}