.team {
    background-color: var(--bgwhite);
}

.team__list {
    display: flex;
    justify-content: space-between;
}

.team__member {
    width: 270px;
    height: 428px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__text {
    padding: 30px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 10px;
}

.team__position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--charcoal);
    margin-bottom: 16px;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white);
    fill: var(--sociallinkcolor);
    transition: background-color var(--animation), fill var(--animation);

    &:hover,
    &:focus {
        background-color: var(--blue);
        fill: var(--white)
    }
}
